# JetBrains
.idea
.venv

# Sensitive Files
*.pdf
*.docs
*.env
.env
*.egg-info/

# Cache Files
tiktoken

# Doc
doc/

# Python
__pycache__/
*.py[cod]
*.class

# IDE
.vscode/
.idea/

# Test
.pytest_cache